.App {
}

.App-logo {
  height: 50px;
  padding: 20px;
  vertical-align: top;
}

.App-header {
  background-color: #555;
  height: 95px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.Prefeituras {
  width: 1000px;
  margin: 0 auto;
}

.Estados {
  list-style: none;
  padding: 0;
}
.Nome_Estado {
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.Cidades {
  list-style: none;
  background: #EEE;
  padding: 0;
  overflow: hidden;
  
  height: 0;
}

.Cidades.is-active {
  transition: opacity 500ms ease-in;
  height: auto;
}

.Cidades li {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

.Nome_Estado {
  background: #CCC;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}